
 #project-main{
    padding: 80px 0px;
    .box{
        height: 500px;
        clip-path: polygon(0 0, 100% 0, 100% 84%, 93% 100%, 0 100%, 0 80%);
     margin-top: 40px;

        background-color: #fff;
        overflow: hidden;
        .box-img{
            width: 100%;
            height: 85%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .box-text{
            margin-top: 10px;
           
            a{
            font-size: 18px;
            color: $darkblue;
            font-weight: 700;
            transition: .5s ease;
            margin-left: 50px;
            &:hover{
                color: $orange;
            }
            
            }
            i{
                color: $orange;
                font-size: 36px;
                margin-left: 100px;
                transform: translateX(270px);
                transition: .5s ease;
            }
            &:hover  i{
                transform: translateX(0);
             }
        }
        
    }
    @media (min-width:576px) and (max-width:768px){
        .box{
            height: 350px;
           .box-img{
            height: 80%;
           }
        }
    }
 }

 #pages-project{
    padding: 50px 0px;
    
    .pages{
       
        .page{
            text-align: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff;
            transition: .5s ease;
            margin-right: 15px;
            cursor: pointer;
            &:hover{
                background-color: $orange;
                a,i{
                    color: #fff;
                }
            }
            
            a,i{
                display: inline-block;
                color: $orange;
                font-size: 18px;
                color: $darkblue;
                font-weight: 600;
                
                margin-top: 10px;
            }
            i{
                margin-top: 15px;
            }
        }
        .page-one{
            background-color: $orange !important;
            a{
                color: #fff;
            }
        }

    }
 }

 #fourlogos-project{
    background-color: #f3f3f4;
    padding-top: 20px;
    padding-bottom: 70px;
    .logo-img{
        cursor: pointer;
        filter: opacity(40%);
        transition: .5s ease;
        
        &:hover{
            filter: opacity(100%);

        }
    }
    @media(max-width:576px){
        text-align: center;
    }
}